
<div>
    <p>آقای پردازش <a href="">خروج</a></p>
</div>
<div>
    <p>
        <span>کاربران:1 </span>
        <span>ماه عملکرد</span>
    </p>
</div>
<div>
    <p>امروز: پنجشنبه، هفدهم مهر ماه 1404</p>
</div>

@code {

}
