
<nav id="menu">
    <ul>
        <li>
            <a href="">منو</a>
            <ul>
                <li>
                    <a href="">زیرمنوی 1</a>
                </li>
                <li>
                    <a href="">زیرمنوی 2</a>
                    <ul>
                        <li><a href="">زیرمنوی 2</a></li>
                        <li><a href="">زیرمنوی 3</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>

@code {

}
